*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

@font-face {
    font-family: 'Genericons';
    src:url('genericons-regular-webfont.woff')
    format('woff'),
    url('genericons-regular-webfont.eot')
    format('truetype');
}

.container{
    margin: 50px auto;
    width: 50%;
    align-items: center;
}

header h1 {
    color: blanchedalmond;
    margin-bottom: 15px;
    text-align: center;
}

.accordion{
    background-color: #333;
    width: 100%;
    min-width: 800px;
    display: block;
    list-style-type: none ;
    overflow:hidden;
    height: 200px;
    font-size: 0;
}

.tab{
    display: inline-block;
    background-color: #444;
    border-right: #333 solid 1px;
    width: 10%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    transition:all 0.5s ease-in-out 0.1s ;
}

.tab:hover{
    width: 60%;
}

.tab:hover .social a::before{
    margin-left: -120px;
}

.tab:hover .social a::after{
    margin-left: -5px;
}


.tab .content {
    background-color: white;
    width: 90%;
    height: 200px;
    margin-left: 100px;
    position: relative;
    padding: 50px 0 0 15px;
}

 .content h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

 .content p{
    font-size: 1rem;
    line-height: 1.5rem;
    padding-right: 30px;
}

.social a::before,
.social a::after{
    transition: all 0.4s ease-in-out 0.1s;
    width: 100px;
    height: 200px;
    position: absolute;
    text-indent: 0;
    padding-top: 90px;
    padding-left: 30px;
    display: block;
    font: normal 30px Genericons;
    color: white;
}

.social a::after{
    font-size: 48px;
    padding-left: 30px;
    padding-top: 80px;
    margin-left: 105px;
}

.Instagram a::before,
.Instagram a::after{
    content: '\f215';
}

.Instagram a::after{
    background-color: #6dc993;
}

.Twitter a::before,
.Twitter a::after{
    content: '\f202';
}

.Twitter a::after{
    background-color: #6dc5dd;
}

.GitHub a::before,
.GitHub a::after{
    content: '\f200';
}

.GitHub a::after{
    background-color: #6e5494;
}

.facebook a::before,
.facebook a::after{
    content: '\f204';
}

.facebook a::after{
    background-color: #3d5998;
}

.LinkedIn a::before,
.LinkedIn a::after{
    content: '\f207';
}

.LinkedIn a::after{
    background-color: #00a9cd;
}

@media(max-width: 950px) {
    .container {
        width: 70%;
        margin: 50px auto;

    }

    .tab{
        display: block;
        width: 100%;
        border-bottom: 3px #333 solid;

    }

    .accordion{
        display: block;
        min-width: 450;
        height: auto;
    }

    .content{
        width: 85%;

    }

    .tab:hover{
        width: 100%;
    }

}

@media(max-width:680px){

    .container{
        width: 90%;
    }

    .accordion{
        width: 100%;
        min-width: 350px;
    }

}
